# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\file hoc IT\Java Advanced\Slide\Lesson 2_Resource\Lesson 2_Resource\2. Generator\3. Auto (UUID)\DemoEnum\DemoEnum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
